@model WebProject.Models.Employee

<h1>Employee Details</h1>

<table class="table">
    <tr>
        <th>ID</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>First Name</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>Specialization Areas</th>
        <td>@Model.SpecializationAreas</td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@Model.Address</td>
    </tr>
</table>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
